
/* Fuente importada desde google fonts. */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');;

/* .roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* No está funcionando el border-radius */
.contenedor-perfil {
  border-radius: 50px;
  display: inline-block;
  width: 50%;
  height: 50%;
}

.contenedor-perfil img {
  width: auto;
  height: auto;
}



*{
  font-family: "Roboto", sans-serif; 
}

a{
  text-decoration: none;
}

body{
  /* background-color: grey; */
  text-align: center;
  background-image: url(./images/fondo.png);
  background-size: cover;
}

.contenedor-datos{
  border: 5px solid;
  border-radius: 50px;
  display: inline-block;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.5);
}

.contenedor-datos div{
  text-align: justify
}

.contenedor-input-edad{
  display: inline;
  margin-left: 46px;
}

.contenedor-input-nombre{
  display: inline;
  margin-left: 25px;
}

.contenedor-input-telefono{
  display: inline;
  margin-left: 20px;
}

.contenedor-input-correo{
  display: inline;
  margin-left: 34px;
}

.contenedor-input-contraseña{
  display: inline;
  margin-left: 0px;
  text-align: center;
}


